<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <!-- Modal styles. Placed up here because they break rest of page functionality. Need to rename stuff to restrict to modal only to use without bugs-->
  <link rel="stylesheet" href="/styles/modal.css" media="screen" title="no title" charset="utf-8">

  <!--Bootstrap/CDN styles-->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.3/css/bootstrap.min.css">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.3/css/bootstrap.min.css" crossorigin="anonymous">
  <link href="https://fonts.googleapis.com/css?family=Baloo+Tammudu|Bungee+Inline|Diplomata+SC|Frijole|Orbitron:400,500,700,900|Pacifico|Permanent+Marker|Righteous|Satisfy&amp;subset=cyrillic,latin-ext,telugu,vietnamese"
    rel="stylesheet">

    <!--Custom Styles -->
  <link rel="stylesheet" href="/styles/styles.css" media="screen" title="no title" charset="utf-8">

  <title>ForeignExchange</title>
  <link rel="shortcut icon" href="/styles/images/favicon.ico" type="image/x-icon">
   <link rel="icon" href="/styles/images/favicon.ico" type="image/x-icon">

</head>

<body>
  {{> modal}} {{{body}}}

  <!--Bootstrap/CDN Scripts-->Z
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
  <script src="https://use.fontawesome.com/releases/v5.0.8/js/all.js"></script>
  <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>

  <!--Custom Scripts-->
  <script src="/js/index.js"></script>
  <script src="/js/modal.js"></script>

</body>

</html>