<div id="home">
  <div class="container">
    <div class="row">
      <div class="col-8 offset-2">

        <!--<h1>{{msg}}</h1>-->
        <h1>ForeignExchange</h1>
        <h2>This is how you *really* say it!</h2>
        <nav class="navbar">
          <div class="form-group col-3">
            <input type="text" id="languageForm" class="form-control" placeholder="German">
          </div>
          <div class="form-group col-3">
            <input type="text" id="searchForm" class="form-control" placeholder="Type a phrase like: What's your favorite movie?">
          </div>
          <div class="form-group col-3">
            <input type="text" id="catForm" class="form-control" placeholder="Categories. Default=all">
          </div>
          <div class="button btn-primary col-3">
            Login
          </div>

        </nav>

        <form class="clearfix mb-4" action="POST">

          <div class="form-group">
            <label for="engBaseField">What phrase would you like to have translated?</label>
            <input type="text" id="engBaseField" class="form-control" aria-describedby="engBaseField" placeholder="Enter a phrase here">
          </div>

          <div class="form-group">
            <label for="foreignLangSub">Select a desired language</label>
            <select class="form-control" id="foreignLangSub">
              <option>German</option>

              <!--Add when additional functionality is desired-->
              {{!--
              <option>Spanish</option>
              <option>French</option>
              <option>Mandarin</option> --}}
            </select>
          </div>

          <button id="submit" class="btn btn-primary float-right">Submit</button>
        </form>

        <h3>Examples:</h3>
        <ul id="example-list" class="list-group">
          {{#each examples}}
          <li data-id="{{this.id}}" class="list-group-item">
            <a href="example/{{this.id}}">{{this.text}}</a>
            <button class="btn btn-danger float-right delete">ｘ</button>
          </li>
          {{/each}}
        </ul>
      </div>
    </div>
  </div>
</div>

<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<script src="/js/index.js"></script>